body{
    background-color: #2c2c2c;
}
aside{
    float: left;
    background-color: #181818;
    width: 15%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d ;
}

aside img{
    width: 80px;
    float: left;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
} 

aside .logo{
    font-size: 30px;
    margin-right: 20px;
    font-weight: bolder;
}
 
aside ul{list-style-type: none;}
aside ul li{
    color:white;
    display: block;
    transition: all .6s ease;
    text-shadow: none;
    ;
}
aside ul li:hover, aside ul a:hover{
   color: red;
   text-decoration: none;
   transform: scale(1.05);
}

main .features {
    float: left;
    color: white;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px}
main .features p {max-width: 400px; margin: 20px auto}


.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

